body {
    width: 300px;
    background-color: #EEEEEE;
    font-family: Verdana, sans-serif;
}

#background {
    display: none;
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 70%;
    z-index: 100;
}

#content {
    height: 350px;
}

#no-tools, #no-indicators {
    color: #878787;
    text-align: center;
    font-size: 11px;
    width: 100%;
    display: none;
}

#tools-list, #catch-res-list {
    display: none;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: #555555 #FF7700;
    scrollbar-width: thin;
}

#tools-list > div {
    display: none;
    font-size: 14px;
    color: #878787;
    text-align: center;
}


div.tool-entry, div.catch-res-entry {
    display: grid;
    grid-template-columns: 6fr 1fr;
    background-color: #FFFFFF;
    border: 2px outset #596275;
    border-radius: 10px;
    width: -moz-available;  /* For Firefox */
    width: -webkit-fill-available;  /* For Chrome */
    height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
}

div.catch-res-entry {
    grid-template-columns: 1fr 6fr;
}

div.tool-entry > a, div.catch-res-entry > a {
    display: grid;
    grid-template-columns: 1fr 4fr;
    cursor: pointer;
}

div.tool-icon {
    background-color: white;
    height: 40px;
    width: 45px;
    border-right: 2px outset black;
    border-radius: 8px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    margin-right: 5px;
}


div.tool-icon > img {
    max-height: 80%;
    max-width: 80%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 25px;
}

div.tool-name {
    margin-left: 3px;
    height: 40px;
    text-align: left;
    vertical-align: middle;
    line-height: 40px; 
    font-size: 1em;
    font-weight: bold;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

div.tool-name>.text {
    position: absolute;
}

div.tool-name>.text.animate {
    animation: move 10s linear infinite;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

div.tool-name-with-tags {
    height: 40px;
    line-height: 20px;
}

div.tool-tags-container {
    width: 100%;
    height: 15px;
    margin-top: 1px;
    line-height: 15px;
    color: white;
    font-size: 2.5vw;
    position: absolute; 
    top: 50%;
}

div.tool-tag {
    float: left;
    padding-right: 5px;
    padding-left: 5px; 
    padding-top: 1px;
    padding-bottom: 1px;
    margin-right: 2px;
    border-radius: 10px;
    height: 15px;
    opacity: 0.8;
    background-color: white;
    width: max-content;
    color: black;
}

.tool-options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}


.tool-graph-icon {
    height: 15px;
    width: 15px;
    grid-column-start: 1;
}


.tool-open-icon {
    height: 15px;
    width: 15px;
    grid-column-start: 2;
}

.tool-options-container img {
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.tool-fav-icon {
    height: 15px;
    width: 15px;
    grid-column-start: 2;
}


#search-box {
    display: flex;
}

#search-box > #text-field {
    display: flex;
    height: 25px;
    width: 250px;
    padding: 2px;
    padding-left: 5px;
    border-radius: 5px;
    border-width: 2px;
    border-style: inset;
    border-color: #6E6C69;
    outline: none;
    background-color: #FFFFFF;
    align-items: center;
}

#text-field #domextr-icon, #catch-icon, #hist-icon, #flag {
    width: 24px;
    height: 24px;
}

#flag {
    height: 20px;
    border: 1px solid #000000;
}

#domextr-icon  {
    display: none;
}

#catch-icon, #hist-icon {
    display: block;
    cursor: pointer;
}

#flag {
    display: none;
}

#hist-icon { 
    height: 20px;
    width: 20px;
}

#bin-icon {
    display: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

#history {
    background-color: #FFFFFF;
    width: 250px;
    position: absolute;
    display: none;
    z-index: 1;
    padding-left: 5px;
    border-radius: 0 0 5px 5px;
    border-width: 2px;
    border-style: inset;
    border-color: #6E6C69;
    outline: none;
    background-color: #FFFFFF;
    align-items: center;
    overflow-y: scroll;
}

#history > .hist-entry {
    border-bottom: 1px solid black;
}

#history > .hist-entry:hover {
    background-color: #FF7700;
    cursor: pointer;
}

#text-field > input {
    height: 25px;
    width: 250px;
    margin-left: 5px;
    border: none;
    background: transparent;
    outline: none;
}

#option-box {
    margin-top: 5px;
    margin-bottom: 2px;
    display: flex;
    gap: 5px;
}

.separator {
    border: 1px solid #C6C6C6;
}

#filter-container-tags, #filter-container-types {
    margin-left: 5px;
    margin-bottom: 5px;
    display: none;
}

#filter-container-tags > label, #filter-container-types > label {
    font-size: 14px;
}

#filter-container-tags > select, #filter-container-types > select {
    width: 100px;
}

#rel-node-name {
    overflow-y: scroll;
}

#show-only-fav {
    cursor: pointer;
    display: none;
}

#show-only-fav  img {
    width: 80%;
    height: 80%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#show-only-autograph {
    display: none;
}


#show-only-autograph  img {
    width: 80%;
    height: 80%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#download {
    width: 15px;
    height: 15px;
    cursor: pointer;
    display: none;
}

#download  img {
    width: 15px;
    height: 15px;
}

#add-node, #add-rel, #del-node {
    cursor: pointer;
    display: none;
}

.square-btn {
    color: white; /* White text */
    width: 20px;
    height: 20px;
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px;
    position: relative;
}

.square-btn.filter-btn {
    background-color: #EDEDED;
    border: 2px outset #888888;
    cursor: pointer;
}

.square-btn.filter-btn:hover {
    background-color: #CBCBCB;
}

.square-btn.filter-btn.clicked-btn {
    background-color: #FF5300;
    border: 2px inset #888888;
    cursor: pointer;

}

#add-node-rel-close-button {
    background-color: #999999;
}

#add-node-rel-close-button:hover {
    background-color: #666666;
}

#add-rel-button {
    border: 2px solid #6413AB;
}

#del-node-button {
    border: 2px solid #8A2424;
}

#add-node-button {
    background-color: #04D43C;
    border: 2px solid #07A631; 
}

#add-node-button:hover {
    background-color: #026E0F;
}

#add-node-button  img, #add-rel-button img, #del-node-button img {
    position:absolute;
    width: 18px;
    height: 18px;
    left: 1px;
    top: 1px;
    margin: 0 auto;
}

#add-rel-button {
    background-color: #D900FF;
}

#add-rel-button:hover {
    background-color: #8D00A6;
}

#del-node-button {
    background-color: #FF2A00;
}

#del-node-button:hover {
    background-color: #B00505;
}


.popup-title {
    height: 10%;
}

.popup-close {
    position: absolute;
    right: 3%;
    top: 4%;
    cursor: pointer;
}

.popup-close > img {
    width: 15px;
    height: 15px;
}


.settings-title {
    font-weight: bold;
}

#settings-button {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#settings-button > img {
    width: inherit;
    height: inherit;
}

/* CSS */
.button {
  appearance: none;
  background-color: #fa6400;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 11px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button:hover {
  background-color: #fb8332;
}

.button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button:disabled {
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
}


.popup #popup-text {
    display: none;
    width: 200px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 100;
    top: 50px;
    left: 5%;
}

.popup #popup-text::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 10%;
    margin-right: -5px;
    border-width: 10px;
    border-style: solid;
    margin-top: -20px;
}

.error-popup-text {
    background-color: #FC5A4E;
}

.error-popup-text::after {
    border-color: transparent transparent #FC5A4E transparent;
}

.warn-popup-text {
    background-color: #FFC94A;
}

.warn-popup-text::after {
    border-color: transparent transparent #FFC94A transparent;
}

.info-popup-text {
    background-color: #42ADF5;
}

.info-popup-text::after {
    border-color: transparent transparent #42ADF5 transparent;
}

.popup .popup-container {
    display: none;
    width: 300px;
    background-color: #FFFFFF;
    color: #444444;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 100;
    top: 100px;
    left: 5px;
    border: 1px solid #000000;
}

.popup .popup-title {
    font-weight: bold;
}

.popup .popup-container-body .info-img {
    width: 15px;
    height: 15px;
    margin-left: 2px;
    vertical-align: middle;
}

.hide-msg {
    position: absolute;
    z-index: 200;
    background-color: #FFD0B6;
    border: 1px solid black;
    display: none;
    padding: 5px;
    width: 250px;
    font-size: 0.7em;
}

.info-img:hover + .hide-msg {
    display: block;
}


.option {
    height: 40px;
}


#to-node-name {
    text-overflow: ellipsis;
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    transition: .4s;
    font-size: 12px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 1px;
    border-radius: 50%;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #FF7700;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.popup-container-body {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 1em;
}

#options-popup > .popup-container-body {
    grid-template-columns: 4fr 0.5fr;
    margin: 0 0.5em 0 0.5em;
    font-size: 0.5em;
}


#add-relationship-popup > .popup-container-body  {
    grid-template-columns: 1.5fr 2fr;
}


.popup-container-body .option-label {
    font-family: Sans-Serif;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;

}

.popup-container-body .option-value {
    text-align: left;
}

.popup-container-body .buttons-option {
    grid-column: 1 / 3;
    margin-top: 1em;
    display: grid;
    flex-direction: row;
    gap: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    grid-template-columns: 1fr 1fr;
}

.checkbox-options-container {
  display: table;
  text-align: left;
  width: 100%;
}

.checkbox-option {
  display: table-row;
}

.checkbox-cell {
  display: table-cell;
  vertical-align: middle;
}

.checkbox-cell input[type="checkbox"] {
  display: block;
  vertical-align: middle;
  float:left;
}

.checkbox-cell label {
    margin-right: 0px;
}

.popup-container-body input {
    width: 100px;
}


.form-error-popup {
    display: none;
    width: 200px;
    color: #FFFFFF;
    background-color: #FC5A4E;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 100;
    left: 30%;
    font-size: 11px;
    margin-top: 10px;
}

.form-error-popup::after {
    content: "";
    position: absolute;
    color: #FF0000;
    top: 0%;
    left: 80%;
    margin-right: -5px;
    border-width: 10px;
    border-style: solid;
    margin-top: -20px;
    border-color: transparent transparent #FC5A4E transparent;
}



#content > table {
    margin-top: 2px;
}

#content > table td {
    width: 20%;
}

#content #addon-name {
    font-weight: bold;
    font-size: 20px;
}

#content #addon-version {
    font-size: 11px;
}

#addon-logo > img {
    display: block;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    opacity: 0.75;
}

#addon-logo > #version-tag {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    color: #333333;
    font-size: 14px;
}

.catch-container {
    border: 1px solid black;
    border-radius: 10px;
    height: 80px;
    cursor: pointer;
}

.catch-container .catch-image {
    background-color: #FFFFFF;
    padding: 2px;
    border: 1px solid black;
    border-radius: 100px;
    display: block;
    width: 40%;
    height: 40%;
    margin: 0 auto;
    padding: 5px;
    margin-top: 5px;
}

.catch-image img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.catch-container .occurrences {
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
}

#catch-ip {
    background-color: #00BB00;
}

#catch-ip > .occurrences {
    color: #FFFFFF;
}

#catch-domain {
    background-color: #BB0000;
}

#catch-domain > .occurrences {
    color: #FFFFFF;
}

#catch-url {
    background-color: #FF4D00;
}

#catch-hash {
    background-color: #00FFCC;
}

#catch-email {
    background-color: #001EFF;
}

#catch-email > .occurrences {
    color: #FFFFFF;
}

#catch-cve {
    background-color: #FFE136;
}

#catch-phone {
    background-color: #AE1AB8;
}

#catch-phone > .occurrences {
    color: #FFFFFF;
}

#catch-asn {
    background-color: #FF44B2;
}


#catch-caption {
    padding-top: 10px;
}

#disclaimer {
    font-size: 9px;
    text-align: center;
    bottom: 0;
    position: absolute;
}
