.foxyrecon-background {
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000;
    top: 0;
    right: 0;
    opacity: 80%;
}

.foxyrecon-popup-container {
    position: fixed;
    top: 50%;
    right: 50%;
    border: 2px solid black;
    z-index: 100001;
    background-color: white;
    padding: 10px;
    transform: translate(50%, -50%);
    color: #000000;
}

.foxyrecon-form-header {
    border-bottom: 2px inset #CACACA;
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.foxyrecon-form-header > img {
    padding-bottom: 2px;
    width: 32px;
    height: 32px;
}

.foxyrecon-form-title {
    font-size: 1.2em;
    font-weight: bold;
}

.foxyrecon-form {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    margin-top: 10px;
    padding: 10px
}

.foxyrecon-form-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column: 1 / 3;
    grid-gap: 10px;
}

.foxyrecon-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1em;
}

.foxyrecon-input {
    border: 1px inset #CCCCCC;
}

.foxyrecon-note {
    grid-column: 1 / 3;
    font-size: 0.8em;
}

.foxyrecon-buttons-container {
    grid-column: 1 / 3;
    text-align: right;
    margin-top: 10px;
    grid-column-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.foxyrecon-btn {
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 2px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: 2px 2px 2px #000000;
}

.foxyrecon-cancel-btn {
    background-color: #AAAAAA;
}

.foxyrecon-add-node-btn {
    background-color: #04D43C;
}

.foxyrecon-form .foxyrecon-switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 21px;
    cursor: pointer;
}

.foxyrecon-form .foxyrecon-switch input { 
    opacity: 0;
    width: 35px;
    height: 21px;
    position: relative;
    z-index: 10;
}

.foxyrecon-form .foxyrecon-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    transition: .4s;
    font-size: 12px;
}

.foxyrecon-form .foxyrecon-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
    background-color: white;
    transition: transform .4s linear;
    transform: translateX(0);
}

.foxyrecon-form input:checked + .foxyrecon-slider {
    background-color: #FF7700;
}

.foxyrecon-form input:focus + .foxyrecon-slider {
    box-shadow: 0 0 1px #2196F3;
}

.foxyrecon-form input:checked + .foxyrecon-slider:before {
    transform: translateX(14px);
}

