html * {
    font-family: system-ui, Verdana, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
}

#background {
    position: fixed;
    top: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity: 70%
    
}

#foxyrecon-icon {
    height: 30px;
    width: 30px;
    margin: auto 0;
    margin-right: 0px;
    line-height: 30px;
    margin-right: 10px;
    border-right: 2px solid #888;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

#page-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 0.5vh;
    grid-row-gap: 0.5vh;
}

#header-pane {
    grid-column: 1 / 3;
    grid-row: 1;
    padding: 10px;
    border-bottom: 1px solid black;
}

#toolbar {
    grid-column: 1 / 3;
    grid-row: 2;
    margin: 2px;
    margin-right: 5px;
    background-color: #D9D9D9;
    border-bottom: 5px groove black;
    margin-left: 0;
    display: grid;
    grid-template-columns: 5fr 1.5fr;
    overflow: scroll;
}

#option-palette {
    grid-column: 1 / 2;
    display: flex;
    padding: 5px;
    gap: 5px;
}

#filter-bar {
    grid-column: 2 / 2;
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-right: 5px;
}

#filter-bar > div {
    width: 100%;
    height: 3em;
    margin: auto;
}

#filter-bar input[type="text"] {
    width: 100%;
    height: 60%;
    font-size: 16px;
    margin-right: 2px;
}

#filter-bar > div > div {
    height: 20%;
    font-size: 13px;
}

#filter-bar button {
    margin: auto;
    background-color: #0BB8AF;
}

#graph-options-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1.5em;
}

#graph-options-container > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#settings-pane {
    grid-column: 1;
    grid-row: 3;
    border: 1px solid #CCCCCC;
    border-bottom: 3px groove #000000;
    border-right: 3px groove #000000;
    padding: 1vh;
    height: 42.5vh;
}

#node-content-pane {
    grid-column: 1;
    grid-row: 4;
    border: 1px solid #CCCCCC;
    border-bottom: 3px groove #000000;
    border-right: 3px groove #000000;
    padding: 1vh;
    height: 42.5vh;
    overflow: scroll;
}

.box-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding: 5px;
}

#node-content-pane pre {
    font-family: monospace;
}


#graph-container {
    background-color: #F7DB92;
    grid-column: 2;
    grid-row: 3 / 5;
    height: 90vh;
    border-bottom: 3px groove #000000;
    border-right: 3px groove #000000;
    margin-right: 5px;
}

#graph-container #graph-pane {
    height: 100%;
}

#header-pane img {
    height: 48px;
    width: 48px;
    float: left;
    display: block;
}

#header-pane div {
    display: block;
    margin-left: 10px;
    font-size: 32px;
    height: 48px;
    width: 50%;
    margin-left: 60px;
}

input[type="range"] {
  accent-color: coral;
}

.switch {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 30px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    transition: .4s;
    font-size: 12px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 2px;
    bottom: 1px;
    border-radius: 50%;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #FF7700;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(34px);
}

.btn {
    width: 10em;
    min-width: 10em;
    height: 3em;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 2px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: 2px 2px 2px #000000;

}

.btn:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: 2px 2px 2px #000000;
    outline: none;
}

.btn:focus {
    box-shadow: 2px 2px 2px #000000;
}

.btn:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.btn:active {
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.add-node-btn {
    background-color: #04D43C;
}

.add-link-btn {
    background-color: #B907F5;
}

.edit-node-btn {
    background-color: #F77902;
}

.del-node-btn, .del-graph-btn {
    background-color: #DB1604;
}

.addlink-cancel-btn {
    background-color: #B907F5;
}

.cancel-btn {
    background-color: #AAAAAA;
}

.export-graph-btn {
    background-color: #E8850C;
}

.btn img {
    width: 30px;
    height: 30px;
    float: left;
}

.btn .button-label {
  height: 32px;
  line-height: 32px;
  float: left;
  margin-left: 5px;
}

#add-link-button {
    display: block;
}

#edit-node-button {
    display: none;
}

#delete-node-button {
    display: none;
}

#addlink-cancel-button {
    display: none;
}

#delete-link-button {
    display: none;
}

.options {
    display: none;
    position: absolute;
    width: 200px;
    background-color: #FFFFFF;
    border: 1px solid #e2e2e2;
}

.options>div {
    position: relative; 
    height: 30px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}


.options>div:nth-of-type(2n+1){
    background-color: #efefef;
}

.options>div:hover {
    background-color: #03C2FC;
}

.options .options-value {
    float: left;
    margin-left: 40px;
    position: absolute;
}

.options img {
    float: left;
    width: 32px;
    height: 32px;
}


.popup-container {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; 
    text-align: center;
    background-color: rgb(255,255,255);
    border: 1px solid black;
    height: fit-content;
    padding: 30px;
    max-width: max-content;
}

.popup-container .form-header {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #222222;
    margin-bottom: 10px;
    padding: 5px;
}

.form-header > img {
    width: 40px;
}

.form-header > div {
    align-items: center;
    display: flex;
    font-size: 25px;
    margin-left: 10px;
}

.popup-container .required-note {
    font-size: 10px;
    color: #777777;
    text-align: left;
}

.popup-container form {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
}

.popup-container label {
    grid-column: 1;
    text-align: right;
}

.popup-container input {
    grid-column: 2;
}

.popup-container textarea {
    grid-column: 2;
    height: 80px;
    max-width: 50em;
    max-height: 25em;
}

.popup-container .subform-container {
    grid-column: 1 / span 2;
    border: 1px solid #222;
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 10px;
}

.subform-container .subform-title {
    text-align: right;
    font-weight: bold;
    margin-right: 10px;
}

.subform-container .add-btn {
    width: 30px;
    background-color: #CCCCCC;
    height: 30px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subform-container .entry {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column: 1 / 3;
}

.entry .entry-buttons-container {
    display: flex;
    flex-direction: row;
}


.entry .entry-title {
    text-align: right;
    margin: 10px;
}

.entry-buttons-container button {
    width: 30px;
    height: 30px;
    margin: auto 0;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 30px;
    height: 30px;
    margin: auto 0;
    padding: 10px;
    background-position: center;
    border-radius: 10px;
}

.entry-buttons-container .edit-btn {
    background-image: url(../../assets/icons/edit.png);
    background-color: #F2D027;
}

.entry-buttons-container .delete-btn {
    background-image: url(../../assets/icons/del.png);
    background-color: #C91B08;
}

.buttons-container {
  margin-top: 10px;
  width: 100%;
  text-align: right;
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: row
}

.buttons-container > * {
    margin: 5px;
}

.buttons-container button, .buttons-container input {
    height: 2em;
}

.tag-input-wrapper {
    border: 1px solid #A9A9B4;
    display: flex;
    flex-direction: row;
    padding: 2px;
    flex-wrap: wrap;
    min-height: 1.5em;
}

.tag-input-wrapper input {
    border: none;
    flex: 1;
}

.tag-input-wrapper input:focus {
    outline: none;
}

.tag-container {
    font-size: 13px;
    background-color: #CCCCCC;
    border: 1px solid #555555;
    margin: 2px;
    border-radius: 5px;
    padding: 1px;
    display: flex;
    flex-direction: row;
}

.del-tag {
    background-image: url(../../assets/icons/del.png);
    background-size: 16px;
    margin: auto 2px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.multiple-options {
    position: absolute;
    background-color: #FFFFFF;
    padding: 2px;
    border: 1px solid #CCCCCC;
    z-index: 100;
    display: none;
    width: 150px;
}

.multiple-options div {
    cursor: pointer;
    text-align: left;
}

div.multiple-input:has(input[disabled]),input[disabled] {
    background-color: #EEEEEE;
}

#add-link-message {
    background-color: #F50;
    border: 2px outset #F20;
    margin: 0.5em;
    box-shadow: 5px 5px #000;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    visibility: hidden;
    position: absolute;
    width: fit-content;
    padding-right: 0.8em;
}

#add-link-message .message {
    width: 98%;
    height: 3em;
    margin: 0 auto auto 1em;
    line-height: 3em;
    font-size: 1.05em;
}

