body {
    width: 220px;
}

#content {
    height: 300px;
}

#tools-list {
    display: none;
    margin-top: 5px;
    width: 220px;
    height: 300px;
    overflow-y: scroll;
}

div.tool-entry {
    background-color: #FFFFFF;
    float: left;
    clear: left;
    border: 2px outset #596275;
    border-radius: 10px;
    width: 200px;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
}

div.tool-icon {
  float: left;
  clear: left;
  background-color: white;
  height: 40px;
  width: 40px;
  border: 2px outset black;
  border-radius: 36px;
  position: relative;
  margin-left: 2px;
}

#search-box > input {
    width: 185px;
}

div.tool-icon > img {
  max-height: 70%;
  max-width: 70%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 25px;
  border-radius: 20px;
}

div.tool-name {
  font-family: Verdana;
  float: left;
  margin-left: 3px;
  height: 40px;
  background-color: #FFFFFF;
  width: 150px;
  text-align: left;
  vertical-align: middle;
  line-height: 40px; 
  color: white;
  font-size: 7vw;
  text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000;
}

#error-msg-container, #warn-msg-container {
  display: none;
  width: 195px;
  height: 300px;
  border-radius: 5px;
  margin-top: 5px;
  vertical-align: middle;
}

#error-msg-container {
  background-color: #FFAAAA;
  border: 2px solid #AA0000;

}

#error-msg-container > #error-msg {
    height: inherit;
    display: table-cell;
    vertical-align: middle;
}

#error-msg-container  #error-msg-text {
    color: #BB0000;
    margin-left: 5px;
}

#error-msg-container  #error-msg-symbol {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    margin-left: 0px;
    color: #FF0000;
}

#error-msg-container  #error-msg-symbol > div {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px;
    border: 2px solid #FF3333;
    font-size: 1.5em;
}

#warn-msg-container {
  background-color: #FFBE85;
  border: 2px solid #FF7700;
}

#warn-msg-container > #warn-msg {
    height: inherit;
    display: table-cell;
    vertical-align: middle;
}

#warn-msg-container  #warn-msg-text {
    color: #FF4D00;
    margin-left: 5px;
}

#warn-msg-container  #warn-msg-symbol {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    margin-left: 0px;
    color: #FF4D00;
}

#warn-msg-container  #warn-msg-symbol > div {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px;
    border: 2px solid #FF7700;
    font-size: 1.5em;
}

#addon-logo {
    width: 200px;
}

#addon-logo > img {
    display: block;
    width: 70%;
    height: 70%;
    
    padding-top: 30%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.75;
}

#addon-logo > #version-tag {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: #333333;
    font-size: 0.8em;
}
