html * {
    font-family: Verdana, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
}

a {
    color: #000000;
    font-weight: bold;
}

#foxyrecon-icon {
    height: 30px;
    width: 30px;
    margin: auto 0;
    margin-right: 0px;
    line-height: 30px;
    margin-right: 10px;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

#page-title {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 10px;
    border-right: 2px solid #888;
}

#page-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 0.5vh;
    grid-row-gap: 0.5vh;
    margin-left: 5px;
}

#header-pane {
    grid-column: 1 / 3;
    grid-row: 1;
    padding: 10px;
    border-bottom: 1px solid black;
}

#toolbar {
    grid-column: 1 / 3;
    grid-row: 2;
    margin: 2px;
    margin-right: 5px;
    background-color: #D9D9D9;
    border-bottom: 5px groove black;
    margin-left: 0;
    display: grid;
    grid-template-columns: 5fr 1.5fr;
    overflow: scroll;
}

#option-palette {
    grid-column: 1 / 2;
    display: flex;
    padding: 5px;
    gap: 5px;
}

#resources-list-pane {
    grid-column: 1;
    grid-row: 3 / 5;
    border: 1px solid #CCCCCC;
    border-bottom: 3px groove #000000;
    border-right: 3px groove #000000;
    padding: 5px;
    height: 90vh;
    background-color: #F7DB92;
}


.box-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding: 5px;
}

.body-pane {
    background-color: #F7DB92;
    grid-column: 2;
    grid-row: 3 / 5;
    height: 90vh;
    border-bottom: 3px groove #000000;
    border-right: 3px groove #000000;
    margin-right: 5px;
    overflow-y: scroll;
    padding: 5px;
}

h3 {
    border-bottom: 1px solid black;
}

#form-pane {
    display: none;
}

#header-pane img {
    height: 48px;
    width: 48px;
    float: left;
    display: block;
}

#header-pane div {
    display: block;
    margin-left: 10px;
    font-size: 32px;
    height: 48px;
    width: 50%;
    margin-left: 60px;
}


.btn {
    width: 10em;
    min-width: 10em;
    height: 3em;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 2px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: 2px 2px 2px #000000;

}

.btn:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: 2px 2px 2px #000000;
    outline: none;
}

.btn:focus {
    box-shadow: 2px 2px 2px #000000;
}

.btn:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.btn:active {
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.add-btn {
    background-color: #04D43C;
}

.edit-btn {
    background-color: #F77902;
}

.del-btn {
    background-color: #DB1604;
    width: 12em;

}

.cancel-btn {
    background-color: #969190;
}

.export-btn {
    background-color: #A910EB;
}

#import-template-button {
    width: 13.5em;
    background-color: #06BEC4;
}

.btn img {
    width: 30px;
    height: 30px;
    float: left;
}

.btn .button-label {
  height: 32px;
  line-height: 32px;
  float: left;
  margin-left: 5px;
}

#submit-btn {
    background-color: #04D43C;
}

#reset-btn {
    background-color: #AAAAAA;
}

#add-res-button {
    display: block;
}

#edit-res-button {
    display: none;
}

#del-res-button {
    display: none;
}

#cancel-button {
    display: none;
}

#export-button {
    display: none;
}


.options {
    display: none;
    position: absolute;
    width: 200px;
    background-color: #FFFFFF;
    border: 1px solid #e2e2e2;
    z-index: 100;
}

.options>div {
    position: relative; 
    height: 30px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}


.options>div:nth-of-type(2n+1){
    background-color: #efefef;
}

.options>div:hover {
    background-color: #03C2FC;
}

.options .options-value {
    float: left;
    margin-left: 40px;
    position: absolute;
}

.options img {
    float: left;
    width: 32px;
    height: 32px;
}


.title-container {
    display: flex;
    border-bottom: 2px solid #222222;
    padding: 5px;
    margin-bottom: 10px;
}

.title {
    position: relative;
    display: inline;
    margin-left: 5px;
    font-size: 25px;
}

.body-text {
    margin: 10px;
}

#form {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    padding: 10px;
}

#form label {
    grid-column: 1;
    text-align: right;
    height: 4vh;
    line-height: 4vh;
}

#form input[type="text"] {
    grid-column: 2;
    width: 50%;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
}

#form input[type="checkbox"] {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

#file-upload {
    display: inline;
}

.warn-msg {
    vertical-align: middle;
    display: inline;
}

.warn-msg img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    
}

.error-msg {
    vertical-align: middle;
    display: inline;
}

.error-msg img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    
}

.error-msg .error-msg-text {
    color: #FF0000;
    font-weight: bold;
}

.form-separator {
    grid-column: 1/3;
    border-bottom: 2px dotted #222222;
}

.form-subsection {
    grid-column: 1 / 3;
}

.form-subsection .subsection-title {
    font-weight: bold;
    border-bottom: 1px solid #222222;
    padding: 2px;
    font-size: 18px;
}

.info-img  {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.hide-msg {
    position: absolute;
    z-index: 100;
    background-color: #FFD0B6;
    border: 1px solid black;
    display: none;
    padding: 5px;
    width: 500px;
    font-size: 0.7em;
}

.info-img:hover + .hide-msg {
    display: block;
}

#tools-list > div {
    font-family: Verdana, sans-serif;
    font-size: 1em;
    color: #878787;
    text-align: center;
}

#no-tools {
    text-align: center;
    color: #666;
    margin-top: 10px;
}

div.tool-entry {
    background-color: #FFFFFF;
    float: left;
    clear: left;
    border: 2px outset #596275;
    border-radius: 10px;
    width: -moz-available;
    height: 60px;
    margin-top: 5px;
    cursor: pointer;
}

div.tool-entry:hover {
    outline: 5px outset #000000;
}

div.tool-icon {
    float: left;
    clear: left;
    background-color: white;
    height: 100%;
    width: 70px;
    border-right: 2px outset black;
    border-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    margin-right: 5px;
}


div.tool-icon > img {
    max-height: 90%;
    max-width: 90%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 25px;
}

div.tool-name {
    font-family: Verdana, sans-serif;
    float: left;
    margin-left: 3px;
    height: 60px;
    background-color: #FFFFFF;
    width: 70%;
    text-align: left;
    vertical-align: middle;
    line-height: 40px; 
    font-size: 1.4em;
    font-weight: bold;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

div.tool-name-with-tags {
    height: 60px;
    line-height: 35px;
}

div.tool-tags-container {
    float: left;
    width: 100%;
    height: 15px;
    margin-top: 1px;
    line-height: 15px;
    color: white;
}

div.tool-tag {
    float: left;
    padding-right: 5px;
    padding-left: 5px; 
    padding-top: 1px;
    padding-bottom: 1px;
    margin-right: 2px;
    border-radius: 10px;
    height: 15px;
    font-size: 0.5em;
    opacity: 0.8;
    background-color: white;
    width: max-content;
    color: black;
}

.tool-options-container {
    float: right;
    clear: right;
    height: 100%;
    width: 20px;
    position: relative;
    margin-right: 10px;
}

.tool-del-icon {
    height: 35px;
    width: 35px;
    top: 20px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 3px;
}

.tool-del-icon > img {
    height: 15px;
    width: 15px;
    vertical-align: middle;
}


.popup-container {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; 
    text-align: center;
    background-color: rgb(255,255,255);
    border: 1px solid black;
    width: 500px;
    height: fit-content;
    padding: 30px;
}

.popup-container .form-header {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #222222;
    margin-bottom: 10px;
    padding: 5px;
}

.form-header > img {
    width: 40px;
}

.form-header > div {
    align-items: center;
    display: flex;
    font-size: 25px;
    margin-left: 10px;
}

.popup-container .required-note {
    font-size: 10px;
    color: #777777;
    text-align: left;
}

.popup-container form {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
}

.popup-container label {
    grid-column: 1;
    text-align: right;
}

.popup-container input {
    grid-column: 2;
}

.buttons-container {
  margin-top: 10px;
  width: 100%;
  text-align: right;
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: row
}

.buttons-container > * {
    margin: 5px;
}

.buttons-container button, .buttons-container input {
    height: 2em;
}

