#header-pane {
    background-color: green;
    height: 10%;
    width: 100%;
}

#left-pane {
    //background-color: yellow;
    float: left;
    height: 90%;
    width: 45%;
    padding: 10px;
}

#right-pane {
    float: left;
    height: 90%;
    width: 45%;
    padding: 10px;
}

#add-tool-pane {
    border: 2px solid black;
}

#add-tool-pane #add-tool-title {
    position: relative;
    display: inline;
    top: -0.5em;
    margin-left: 5px;
    background-color: white;
}

#add-tool-pane #add-tool-form {
    margin: 5px;
}

#add-tool-pane #add-tool-form .form-row {
    display: table-row;
}

#add-tool-pane #add-tool-form label, input {
    display: table-cell;
    padding: 5px;
}

#add-tool-pane #add-tool-form input {
    margin-top: 5px;
}

#add-tool-pane #add-tool-form input[type=text] {
    width: 300px;
}

.info-message {
    padding-top: 5px;
    padding-bottom: 10px;
}

#error-box {
    border: 2px solid #FF0000;
    background-color: #FFD0B6;
    margin: 10px;
    display: none;
}

#error-box .error-box-title {
    color: #FF0000;
    font-weight: bold;
    padding: 5px;
}

#error-box-message {
    color: #FF0000;
    padding: 5px;
}

.info-img  {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
.hide-msg {
    position: absolute;
    z-index: 100;
    background-color: #FFD0B6;
    border: 1px solid black;
    display: none;
    padding: 5px;
    width: 500px;
    font-size: 0.7em;
}

.info-img:hover + .hide-msg {
    display: block;
}
